[user]
	email = robn@robn.io
	name = Rob N ★
[color]
    xbranch = auto
	ui = auto
[alias]
	sl = log --decorate --oneline
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)%an%Creset' --abbrev-commit
[push]
	default = matching
[core]
	editor = vim
  excludesfile = ~/.gitignore-global
[pull]
	rebase = true
[diff]
  compactionHeuristic = true
	noprefix = true
[core]
  pager = delta --color-only
[interactive]
  diffFilter = delta --color-only
