[user]
	email = robn@robn.io
	name = Rob N ★
[color]
    xbranch = auto
	ui = auto
[alias]
	sl = log --decorate --oneline
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
	default = matching
[core]
	editor = vim
[pull]
	rebase = true
